.pie-chart {
    background-color: #C7D9D9;
}

.arc:nth-child(1) { fill: #1f77b4; }
.arc:nth-child(2) { fill: #ff7f0e; }
.arc:nth-child(3) { fill: #2ca02c; }
.arc:nth-child(4) { fill: #d62728; }
.arc:nth-child(5) { fill: #9467bd; }
.arc:nth-child(6) { fill: #8c564b; }
.arc:nth-child(7) { fill: #e377c2; }
.arc:nth-child(8) { fill: #7f7f7f; }
.arc:nth-child(9) { fill: #bcbd22; }
